<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @video.nombres%></h1>
    <p>
      El video ha sido recibido y convertido a MP4 exitosamente.
    </p>
    <p>
      Ya se encuentra publicado en la página del concurso
    </p>
  </body>
</html>