<div class="row center-xs">
<div class="col-xs-9 col-md-6">
<div  class="box text-left">
<h2>Crear un nuevo Concurso</h2>

<%= render 'form', concurso: @concurso %>

<%= link_to 'Back', concursos_path %>


       </div> 
    </div> 
    </div>